version: "3"
services:
  api:
    build: .
    depends_on:
      - postgres
    ports:
      - 8000:8000
    env_file:
      - ./.env
    environment:
      - DATABASE_HOSTNAME=postgres

  postgres:
    image: postgres
    environment:
      # - POSTGRES_PASSWORD=temp
      - POSTGRES_DB=musicPracticeCompanion
    volumes:
      - postgres-db:/var/lib/postgresql

volumes:
  postgres-db:

